.footer {
   border: 1px solid var(--gray-color);
   color: var(--gray-color);
   position: fixed;
   bottom: 0;
   width: 100%;

   backdrop-filter: blur(8px);
   -webkit-backdrop-filter: blur(8px);
   background: rgba(255, 255, 255, 0.6);

   z-index: 1000;
}

.footerWrapper {
   color: var(--gray-color);
}

.footerWrapperList {
   display: flex;
   justify-content: space-between;
}
