spring:
  application:
    name: user-service

  cloud:
    config:
      uri: http://config-server:8888
      fail-fast: true
      retry:
        use-random-policy: true
        max-interval: 6000
    import-check:
      enabled: false
  config:
    import: "configserver:"
server:
  port: 8081
