version: '3.9'

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:

services:
  discovery-server:
    build:
      context: ./infra/discovery-server
      dockerfile: Dockerfile
    container_name: discovery-server
    image: discovery-server:latest
    ports:
      - "8761:8761"
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "nc", "-z", "127.0.0.1", "8761" ]
      interval: 10s
      retries: 12
      start_period: 15s

  config-server:
    build:
      context: ./infra/config-server
      dockerfile: Dockerfile
    container_name: config-server
    image: config-server:latest
    ports:
      - "8888:8888"
    networks:
      - app-network
    environment:
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://discovery-server:8761/eureka
    depends_on:
      discovery-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "nc", "-z", "127.0.0.1", "8888" ]
      interval: 10s
      retries: 12
      start_period: 15s


  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: diary_db
    ports:
      - "5432:5432"
    networks:
      - app-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 5s
      retries: 10

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "nc", "-z", "127.0.0.1", "2181" ]
      interval: 10s
      retries: 12
      start_period: 15s

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      zookeeper:
        condition: service_healthy
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "nc", "-z", "127.0.0.1", "9092" ]
      interval: 10s
      retries: 12
      start_period: 15s


  user-service:
    build:
      context: ./core/user-service
      dockerfile: Dockerfile
    container_name: user-service
    image: user-service:latest
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/diary_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_CLOUD_CONFIG_URI: http://config-server:8888
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://discovery-server:8761/eureka
      SPRING_CLOUD_CONFIG_IMPORT_CHECK_ENABLED: false
    depends_on:
      config-server:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      postgres:
        condition: service_healthy
    networks:
      - app-network

  diary-service:
    build:
      context: ./core/diary-service
      dockerfile: Dockerfile
    container_name: diary-service
    image: diary-service:latest
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/diary_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_CLOUD_CONFIG_URI: http://config-server:8888
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://discovery-server:8761/eureka
      SPRING_CLOUD_CONFIG_IMPORT_CHECK_ENABLED: false
    depends_on:
      config-server:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      postgres:
        condition: service_healthy
    networks:
      - app-network

  gigachat-api:
    build:
      context: ./core/GigaChatInteraction-api
      dockerfile: Dockerfile
    container_name: gigachat-api
    image: gigachat-api:latest
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_CLOUD_CONFIG_URI: http://config-server:8888
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://discovery-server:8761/eureka
      SPRING_CLOUD_CONFIG_IMPORT_CHECK_ENABLED: false
    depends_on:
      config-server:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
    networks:
      - app-network

  gateway-service:
    build:
      context: ./infra/gateway-server
      dockerfile: Dockerfile
    container_name: gateway-service
    image: gateway-service:latest
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_CLOUD_CONFIG_URI: http://config-server:8888
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://discovery-server:8761/eureka
      SPRING_CLOUD_CONFIG_IMPORT_CHECK_ENABLED: false
    depends_on:
      config-server:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      user-service:
        condition: service_started
      diary-service:
        condition: service_started
      gigachat-api:
        condition: service_started
    networks:
      - app-network
