.wrapper {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.item {
   font: var(--font-main);
   font-size: 1rem;

   display: flex;
   gap: 0.5rem;
   align-items: center;
}

.red,
.orange,
.yellow,
.green {
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
}

.red {
   background-color: red;
}

.orange {
   background-color: var(--orange-color);
}

.yellow {
   background-color: var(--yellow-color);
}

.green {
   background-color: var(--green-color);
}
