.header {
   padding: 48px 16px;
   background-color: var(--blue-color);
   color: var(--light-color);
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 2em;
}

.headerTitle {
   display: flex;
   align-items: center;
   font-size: 16px;
   justify-content: space-between;
   gap: 1em;
}

.headerTitleTitle {
   font: var(--font-main);
   font-size: 1.2rem;
   font-weight: 700;
   flex-wrap: wrap;
}

.headerTitleDescription {
   font: var(--font-main);
   font-size: 1em;
   font-weight: 500;
   color: var(--blue-smooth-color);
}

.headerTitleText {
   display: flex;
   flex-direction: column;
   gap: 0.25em;
}
