.filter {
   width: 100%;
   padding: 1rem;
   margin-bottom: -2rem;

   background-color: var(--light-color);

   border-top-left-radius: 2rem;
   border-top-right-radius: 2rem;

   box-shadow: 0 20px 20px 0.5px rgba(0, 0, 0, 0.1);
}

.filterWrapper {
   width: 98%;

   display: flex;
   overflow: auto;
   scrollbar-width: none;

   margin: auto;

   gap: 0.5rem;
}

.filterItem {
   width: 100%;
   height: 2.5rem;

   font: var(--font-main);
   font-size: 1rem;
   color: var(--dark-smooth-color);
   background-color: var(--gray-bg-color);
   white-space: nowrap;

   padding: 0.5rem 1rem;
   border-radius: 2rem;
}

.filterItemActive {
   color: var(--light-color);
   background-color: var(--green-header-light);
}
