.cardTrigger {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font: var(--font-main);
  font-size: 1.4rem;
  font-weight: 600;
}

.triggersList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.triggersTitle {
  display: flex;
  justify-content: space-between;
}

.triggersActive {
  background: var(--blue-bg-color);
}

.triggersBtn {
  color: var(--blue-color);
}
