.title {
  font: var(--font-main);
  font-size: 1.4rem;
  font-weight: 600;
}

.triggersTitle {
  display: flex;
  justify-content: space-between;
}

.triggersActive {
  background: var(--blue-bg-color);
}

.triggersBtn {
  color: var(--blue-color);
}
