.header {
   padding: 48px 16px;
   background-color: var(--blue-color);
   color: var(--light-color);
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 2em;
}

.headerTitle {
   display: flex;
   align-items: center;
   font-size: 16px;
   justify-content: space-between;
   gap: 1em;
}

.headerTitleAvatar {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

.headerTitleTitle {
   font: var(--font-main);
   font-size: 1.2rem;
   font-weight: 700;
   flex-wrap: wrap;
}

.headerTitleDescription {
   font: var(--font-main);
   font-size: 1em;
   font-weight: 500;
   color: var(--blue-smooth-color);
}

.headerTitleText {
   display: flex;
   flex-direction: column;
   gap: 0.25em;
}

.headerTitleIcon {
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: right;
}

.headerWeatherCard {
   padding: 16px;
   background-color: #ffffff1a;
   width: 90%;
   border-radius: 2em;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.weatherCardLeft {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
}

.leftTown {
}

.leftTemperature {
}
.leftTemperature::after {
   content: '\00B0';
}

.leftWeather {
}

.weatherCardRight {
   display: flex;
   flex-direction: column;
   align-items: end;
   justify-content: center;
}
