.header {
   padding: 48px 16px;
   background-color: var(--blue-color);
   color: var(--light-color);
   display: flex;
   align-items: center;
   gap: 2em;
    margin-bottom: 50px;
}

.headerTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    padding-left: 35px;
}

.headerTitleAvatar {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

.headerTitleTitle {
   font: var(--font-main);
   font-weight: 700;
   flex-wrap: wrap;
}

.headerTitleDescription {
   font: var(--font-main);
   font-weight: 500;
   color: var(--blue-smooth-color);
}

.headerTitleText {
   display: flex;
   flex-direction: column;
   gap: 0.25em;
}

.headerTitleIcon {
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: right;
}

.headerWeatherCard {
   padding: 1.5rem 1rem;
   background-color: #ffffff1a;
   width: 100%;
   border-radius: 1em;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.weatherCardLeft {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
}

.leftTown {
   font: var(--font-main);
   font-size: 1.2rem;
   color: var(--blue-smooth-color);
}

.leftTemperature {
   font: var(--font-main);
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--light-color);
}

.leftTemperature::after {
   content: '\00B0';
}

.leftWeather {
   font: var(--font-main);
   font-size: 1rem;
   color: var(--light-color);
}

.weatherCardRight {
   display: flex;
   flex-direction: column;
   align-items: end;
   justify-content: center;
   max-width: 120px;
}

.rightPollen {
   font: var(--font-main);
   font-size: 1rem;
   color: var(--light-color);
   margin: 0.5rem 0;
   word-wrap: normal;
}

.rightSource {
   background-color: red;
   padding: 0.3rem 0.7rem;
   border-radius: 1.5rem;
   font: var(--font-main);
   font-size: 1rem;
   color: var(--light-color);
   width: 130%;
   display: flex;
   justify-content: right;
}
