.actions {
   display: grid;
   grid-template-columns: repeat(2, 130px);
   grid-template-rows: repeat(2, 130px);

   grid-gap: 1.3rem;
   justify-content: center;
}

.cell {
   background-color: var(--lightgreen-background-color);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   border-radius: 1rem;
   color: var(--dark-smooth-color);
   font: var(--font-main);
   font-size: 1.1rem;
}

.cell:active {
   background-color: var(--lightgreen-background-color);
   box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
}

.icon {
   filter: brightness(0) saturate(100%) invert(40%) sepia(40%) saturate(600%) hue-rotate(100deg);
}

.text {
   font: var(--font-main);
   text-align: center;
   line-height: 120%;
   margin: 0.5rem 0.5rem 0 0.5rem;
}
