.body {
   height: 365px;
   width: 84%;
   margin: auto;
   padding: 0.1rem 1rem 1rem 1rem;
   box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.15);
   border-radius: 1.5rem;
   background-color: #fff;

   position: relative;
   top: -2rem;
}

.title {
   margin: 1rem 1rem;
   font: var(--font-main);
   font-size: 1.2rem;
   font-weight: 600;
}

.actions {
   display: grid;
   grid-template-columns: repeat(2, 130px);
   grid-template-rows: repeat(2, 130px);

   grid-gap: 1.3rem;
   justify-content: center;
}

.cell {
   background-color: var(--lightblue-background-color);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   border-radius: 1rem;
   color: var(--dark-smooth-color);
   font: var(--font-main);
   font-size: 1.1rem;
}

.cell:active {
   background-color: var(--lightblue-transparent-color);
   box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
}

.icon {
   filter: invert(24%) sepia(55%) saturate(1200%) hue-rotate(185deg)
      brightness(90%) contrast(90%);
}

.text {
   font: var(--font-main);
   text-align: center;
   line-height: 120%;
   margin: 0.5rem 0.5rem 0 0.5rem;
}
