.title {
  font: var(--font-main);
  font-size: 1.4rem;
  font-weight: 600;
}

.wheatherCard {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.wheatherCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}

.wheatherCardsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  border-radius: 0.75rem;
  background: var(--blue-bg-color);
}

.wheatherCardsTitle {
  font: var(--font-main);
  font-size: 1.2rem;
  font-weight: 600;
}
