.header {
   padding: 48px 16px;
   background-color: var(--blue-color);
   color: var(--light-color);
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 2em;
}

.headerTitle {
   display: flex;
   align-items: center;
   font-size: 16px;
   justify-content: space-between;
   gap: 1em;
}

.headerTitleAvatar {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

.headerTitleTitle {
   font: var(--font-main);
   font-size: 1.2rem;
   font-weight: 700;
   flex-wrap: wrap;
}

.headerTitleDescription {
   font: var(--font-main);
   font-size: 1em;
   font-weight: 500;
   color: var(--blue-smooth-color);
}

.headerTitleText {
   display: flex;
   flex-direction: column;
   gap: 0.25em;
}

.headerTitleIcon {
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: right;
}

.headerInfoCard {
   padding: 1.5rem 1rem;
   background-color: #ffffff1a;
   width: 100%;
   border-radius: 1em;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.infoCardLeft {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
}

.leftTitle {
   font: var(--font-main);
   font-size: 1rem;
   color: var(--blue-smooth-color);
}

.leftCount {
   font: var(--font-main);
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--light-color);
}

.leftDescription {
   font: var(--font-main);
   font-size: 0.9rem;
   color: var(--light-color);
}

.infoCardRight {
   display: flex;
   flex-direction: column;
   align-items: end;
   justify-content: center;
}

.rightTitle {
   font: var(--font-main);
   font-size: 1rem;
   color: var(--blue-smooth-color);
}

.rightDate {
   font: var(--font-main);
   font-size: 1.2rem;
   font-weight: 700;
   color: var(--light-color);
   margin: 0.5rem 0;
}

.rightTime {
   font: var(--font-main);
   font-size: 1rem;
   color: var(--light-color);
}