:root {
   --blue-color: rgb(37 93 138);
   --blue-header-color: rgb(59, 110, 150);
   --blue-smooth-color: #bfdbfe;
   --lightblue-transparent-color: rgb(239, 246, 255);
   --lightblue-background-color: #e8f4fd;
   --light-color: #fff;
   --light-transparent-color: rgb(255 255 255 / 0.1);
   --dark-color: #000000;
   --dark-smooth-color: rgb(55, 65, 81);
   --primary-color: #ef4444;
   --primary-bg-color: rgb(254, 242, 242);
   --primary-border-color: rgb(254, 202, 202);
   --orange-color: rgb(249, 115, 22);
   --orange-bg-color: rgb(255, 247, 237);
   --orange-border-color: rgb(254, 215, 170);
   --yellow-color: rgb(234, 179, 8);
   --yellow-bg-color: rgb(254, 252, 232);
   --yellow-border-color: rgb(254, 240, 138);
   --green-color: rgb(34, 197, 94);
   --green-bg-color: rgb(240, 253, 244);
   --gray-color: rgb(156, 163, 175);
   --gray-bg-color: rgba(156, 163, 175, 0.3);
   --gray-smooth-color: #4b5563;

   --font-main: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

* {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
   font-family: var(--font-main);
}

a,
a:link,
a:visited {
   text-decoration: none;
   color: black;
}

a:hover {
   text-decoration: none;
}

ul,
ul li {
   list-style: none;
}

input:focus,
input:active,
button:focus,
button:active {
   outline: none;
}

button {
   background-color: transparent;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

h5 {
   font-size: 24px;
}

.card {
   width: 92%;
   margin: auto;
   padding: 1rem;
   box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.15);
   border-radius: 1.5rem;
   background-color: #fff;
   margin-bottom: 2rem;
}

.first {
   position: relative;
   top: -2rem;
   margin-bottom: 0;
}

.title {
   margin: 1rem 1rem;
   font: var(--font-main);
   font-size: 1.4rem;
   font-weight: 600;
}

.headerSubtitle {
   font-size: 0.75rem;
   line-height: 1rem;
   color: var(--blue-smooth-color);
}
