/* HeaderMap.module.css */
.header {
   background-color: var(--blue-color);
   color: var(--light-color);
   padding: 4rem 1rem;
   font-family: var(--font-main);
   width: 100%;
   box-sizing: border-box;
   margin: 0 auto;
}

.headerContent {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.headerTop {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.title {
   font: var(--font-main);
   font-size: 1.7rem;
   font-weight: 700;
   line-height: 1.2;
   color: var(--light-color);
   margin: 0;
}

.iconRow {
   transform: rotate(180deg);
}

.icon {
   filter: brightness(0) invert(1);
}

.icons {
   display: flex;
   gap: 0.5rem;
}

.iconPlaceholder {
   width: 2.25rem;
   height: 2.75rem;

   display: flex;
   align-items: center;
   justify-content: center;

   background-color: var(--light-transparent-color);
   border-radius: 0.5rem;
   flex-shrink: 0;
}

.headerBottom {
   width: 100%;

   display: flex;
   justify-content: space-between;

   border-radius: 1rem;
   background-color: var(--light-transparent-color);

   padding: 1rem;
}

.locationInfo {
   display: flex;
   flex-direction: column;

   align-items: start;
   gap: 0.25rem;
}

.location {
   font: var(--font-main);
   font-size: 1.25rem;
   font-weight: 500;
   color: var(--light-color);
}

.dateTime {
   font: var(--font-main);
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.4;
   margin: 0;
   color: var(--blue-smooth-color);
   opacity: 0.9;
}

.updateInfo {
   font: var(--font-main);
   display: flex;
   flex-direction: column;
   align-items: end;
   gap: 0.1rem;
   padding-top: 0.25rem;
}

.updateText {
   font: var(--font-main);
   color: var(--blue-smooth-color);
}

.updateTime {
   font: var(--font-main);
   font-size: 0.9rem;
   font-weight: 500;
   line-height: 1.3;
   color: var(--blue-smooth-color);
}
