server:
  port: 8081

spring:
  application:
    name: user-service
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
    datasource:
      driver-class-name: org.postgresql.Driver
      url: jdbc:postgresql://postgres:5432/diary_db
      username: postgres
      password: postgres
    kafka:
      bootstrap-servers: kafka:9092


logging:
  level:
    org.springframework.orm.jpa: INFO
    org.springframework.orm.jpa.JpaTransactionManager: DEBUG
    org.springframework.transaction: INFO
    org.springframework.transaction.interceptor: TRACE
