.severity {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.listItem {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  font: var(--font-main);
  font-size: 1.1rem;
}

.weak,
.medium,
.strong {
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--font-main);
  font-size: 1rem;
  padding: 0.1rem 1rem;
  color: var(--light-color);
  border-radius: 1rem;
}

.weak {
  background-color: var(--green-color);
}

.medium {
  background-color: var(--yellow-color);
}

.strong {
  background-color: red;
}

.edit {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: var(--blue-color);
  color: var(--light-color);
  border-radius: 1rem;
  font-size: 1rem;

  transition: ease-out 0.5s;
}

.edit:active {
  box-shadow: 0 0 10px 2px black;
  opacity: 0.6;
}

.span {
  width: 100%;
  height: 100%;
  font: var(--font-main);
  font-size: 1rem;
  padding: 0.1rem 1rem;
  background-color: var(--blue-smooth-color);
  color: var(--dark-color);
  border-radius: 1rem;
  margin: 0.3rem;
}
