.cardNotes {
  display: flex;
  flex-direction: column;
}

.notesTitle {
}

.notesList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.noteListItem {
  padding: 0.5rem;
  background-color: var(--gray-card-bg-color);
  border-radius: 0.75rem;
}

.noteSubtitle {
  margin-top: 0.2rem;
  font-size: 0.75rem;
  color: var(--gray-color);
}

.noteWrite {
  min-height: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.noteInput {
  resize: vertical;
  font-size: 0.875rem;
  max-width: 100%;
  min-height: 4rem;
  padding: 0.75rem;
  border: 1px solid var(--gray-color);
  border-radius: 0.75rem;
}

.noteInput:focus {
  outline: none;
}
.noteListSub span {
  /* Стили для текста "saved time" внутри подписи */
}

.noteKeyboard textarea:focus {
  /* Стили для поля ввода в состоянии фокуса */
}

.noteAddBtn {
  transition: all ease 0.6s;
  background-color: var(--blue-color);
  color: var(--light-color);
  padding: 1rem;
  border-radius: 0.75rem;
  width: 100%;
}
.noteAddBtn:hover {
  background-color: var(--blue-smooth-color);
}

.noteAddBtn:active {
  /* Стили для кнопки при нажатии */
}
