.data {
   padding-left: 1rem;
}

.data > li {
   font: var(--fomt-main);
   font-size: 1rem;
   line-height: 1.4;
   text-decoration-style: dashed;
   list-style: circle;
}

.edit {
   width: 100%;
   height: 100%;
   padding: 0.5rem 1rem;
   margin-top: 1rem;
   background-color: var(--blue-color);
   color: var(--light-color);
   border-radius: 1rem;
   font-size: 1rem;

   transition: ease-out 0.5s;
}

.edit:active {
   box-shadow: 0 0 10px 2px black;
   opacity: 0.6;
}
